<?xml version="1.0"?>
<launch>
  <arg name="use_gui" default="true" />
  <arg name="gazebo_gui" default="true"/>
  <arg name="world" default="$(find ur5_gripper_moveit_config)/worlds/custom.world" />


  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(arg world)"/>
    <arg name="paused" value="true"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
  </include>
  
  <include file="$(find ur5_gripper_moveit_config)/launch/multi_arms.launch"/>
  

</launch>
